<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="verCarrinho()">
        <ion-icon name="cart" style="position:relative; right:9px">
          <ion-badge *ngIf="carrinho>0"
            style="position: absolute; font-weight: bold; top:-10px; left:15px; font-size: 9px;" color="danger">
            {{carrinho}}
          </ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-badge item-end color="verde">Filtrar</ion-badge>
  <ion-badge item-end color="verde">Ordenar</ion-badge>

  <ion-list *ngFor="let s of listaServicos">
    <ion-item>
      <ion-thumbnail item-start>
        <img src={{s.foto_url}}>
      </ion-thumbnail>
      <h2>{{s.servico}}</h2>
      <p>{{s.valor | currency:"BRL":true:"1.2"}}</p>
        <button ion-button clear item-end icon-only (click)="addCarrinho(s)">
          <ion-icon name="cart" color="marromClaro"></ion-icon>
        </button>
    </ion-item>
  </ion-list>

</ion-content>